<div class= "row" >
<div class="col-md-4 col-md-offset-4">
    <h2 style="text-align-center">提交申请</h2>

    <hr>
    <%= simple_form_for @apply do |f| %>
    <div class="form-group">
        <%= f.input :name, input_html: { class: "form-control"} %>
        <%= f.input :description, inpuut_html: { class: "form-control"} %>
        <%= f.input :start, :label => "成立时间" %>
        <%= f.input :number, :label => "成员人数" %>
        <%= f.input :web %>
        <%= f.input :phone %>
        <%= f.input :picture %>
    </div>
    <%= f.submit "Sumbit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>
</div>
</div>
